<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ioansen.dailyapp">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ioansen.dailyapp.activities.DailyHomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!--<action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="ioansen.com"
                    />-->
            </intent-filter>

        </activity>
        <activity
            android:name="com.ioansen.dailyapp.activities.CollectionActivity"
            android:label="@string/recursive_goals"
            android:parentActivityName="com.ioansen.dailyapp.activities.DailyHomeActivity">

        </activity>
        <activity
            android:name="com.ioansen.dailyapp.activities.CalendarActivity"
            android:label="@string/calendar"
            android:parentActivityName="com.ioansen.dailyapp.activities.DailyHomeActivity">

        </activity>
        <activity android:name="com.ioansen.dailyapp.activities.AddGoalActivity"
            android:windowSoftInputMode="stateVisible"
            android:parentActivityName="com.ioansen.dailyapp.activities.DailyHomeActivity"
            >

        </activity>
    </application>

</manifest>